.Nav {
    list-style: none;
    margin: 0;
    padding: 0;
}


.Icon {
    font-size: 20px;
    color: #012970;
}

.Icon span {
    position: absolute;
    inset: 4px 6px auto auto;
    font-weight: normal;
    font-size: 11px;
    padding: 3px 6px;
}