.Logo {
    line-height: 1;
}

@media (min-width: 1200px) {
    .Logo {
        width: 320px;
    }
}

.Logo img {
    max-height: 40px;
    margin-right: 6px;
}

.Logo span {
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    color: #011070FF;
    font-family: "Nunito", sans-serif;
}

.ToggleButton {
    font-size: 32px;
    padding-left: 10px;
    cursor: pointer;
    color: #011070FF;
}